In [4]:
url = 'postgresql://{}:{}@{}:{}/{}'
url = url.format('antoniopenta', 'London20062018','goldsmith.clb2mudtmvnt.eu-central-1.rds.amazonaws.com', '5432', 'goldsmiths')
print('URL',url)

URL postgresql://antoniopenta:London20062018@goldsmith.clb2mudtmvnt.eu-central-1.rds.amazonaws.com:5432/goldsmiths

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%%sql postgresql://antoniopenta:London20062018@goldsmith.clb2mudtmvnt.eu-central-1.rds.amazonaws.com:5432/goldsmiths 
select * from composition limit 10

10 rows affected.

[('0', '11288', '132', '2 oz'),
 ('1', '11288', '222', 'Juice of 1/2'),
 ('2', '11288', '39', '1'),
 ('3', '13837', '292', '1 part'),
 ('4', '13837', '290', '5 parts'),
 ('5', '11010', '329', '1 oz'),
 ('6', '11010', '251', '1 oz'),
 ('7', '11010', '222', 'Juice of 1'),
 ('8', '11010', '222', '1'),
 ('9', '11987', '144', '1 oz')]